/* common */
@media (min-width: 300px) {
    .search-menu-input {
        flex-grow: 1;
        width: auto;
        margin-right: 10px;
    }
}

@media (min-width: 992px) {
    .search-form {
        width: 60%
    }
}

.main-menu {
    background-color: #007bff;
}

.nav-link {
    color: #ffffff;
}

.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}

.banner {
    background: url('../img/corova.jpg') no-repeat;
    background-size: cover;
    text-align: center;
}

.banner-content {
    color: white;
    padding: 150px 0;
    text-align: center;
}

.head {
    font-size: 2.5rem;
}

.card {
    margin-bottom: 30px;
}

.catalog-list {
    background-color: thistle;
}

@media (min-width:992px) {
    .left-area {
        color: black;
        width: 30vw;
    }
}

.catalog-filter {
    display: flex;
    justify-content: space-evenly;
}

.pointer {
    cursor: pointer;
}

.link-block {
    background-color: aqua;
}

.callback-form {
    padding: 100px 0;
    background-color: #fed700;
}

.callback-form-head {
    font-size: 2em;
}

.callback-form form {
    height: 50px;
    display: flex;
}

.callback-form input {
    width: 100%;
    padding-left: 30px;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
}

.callback-form-btn {
    border-radius: 0 30px 30px 0;
}

@media (max-width:992px) {
    .callback-form p {
        text-align: center;
    }
}

footer {
    font-size: 16px;
    color: white;
    background-color: black;
}

.logo {
    max-width: 100%;
}

.footer-menu-item {
display: flex;
flex-direction: column;

}
.footer-menu-item .nav-link {
    color: #fed700;
    padding: 0.3rem 0;
}

.footer-phone-number {
    margin-top: 0.4rem;
    font-size: 2rem;
}

.filter-item {
    margin: .5rem;
}


/* rating */
.rating-area {
    
	overflow: hidden;
	width: 265px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 50px;
	line-height: 50px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.pagination {
    justify-content: center;
}

.username {
    padding: .375rem .75rem;
    color: white;
}

.profile-content {
    background-color: white;
}

.profile-nav-column-2 {
    background-color: pink;
   
}

.profile-nav-column-1 {
    background-color: pink;
    
}

.product-pub-date {
    font-size: 0.8rem;
    color: grey;
    margin: 0;
}

.auth-form {
    max-width: 400px;
}

