@media (min-width: 300px){
.search-menu-input {
    flex-grow: 1;
    width: auto;
    margin-right: 10px;
}
}

@media (min-width: 992px){
    .search-form {
    width: 60%
}
}


.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}