{% load i18n account %}
{% load static %}

<form method="POST" action="/accounts/login/" class="need_auth">
    {% csrf_token %}
    <p class="error-li" style="color: red;"></p>
    <p><input type="text"
              name="login"
              placeholder="Имя пользователя"
              autofocus="autofocus"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Имя пользователя'"
              maxlength="150"
              required
              id="id_login"
              class="form-control">
    </p>
    {% if erorrs %}
    <ul class="errorlist">
        <li>Это поле обязательно.</li>
    </ul>
    {% endif %}
    <p>
        <input class="form-control" type="password" name="password"
               placeholder="Пароль" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'Пароль'" required id="id_password">
    </p>
    <p>
        <div class="col-sm-5 switch-wrap d-flex justify-content-between">
            <p>Запомнить меня</p>
            <div class="primary-switch">
                <input type="checkbox" id="id_remember">
                <label for="id_remember"></label>
            </div>
        </div>
    </p>
    <div>
        <button class="genric-btn primary" type="submit">{% trans "Sign In" %}</button>
          <a href="#"
           class="genric-btn info-border"
           data-toggle="modal"
           data-target="#signupModal"
           data-dismiss="modal">
            Нет аккаунта? Зарегистрируйся! <span class="lnr lnr-arrow-right"></span>
        </a>
    </div>
    <hr>
    <a href="{% url 'account_reset_password' %}">
        {% trans "Forgot Password?" %}
    </a>
</form>