{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="area-form">
    <div class="container text-center">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set form-container">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" class="genric-btn primary w-100" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</section>
{% endblock %}

