{% extends 'base.html' %}
{% load catalog_tags %}
{% block title %} WOWOWOWO {% endblock %}


{% block content %}
<!-- Banner -->
<div class="banner">
    <div class="banner-content container">
        <p class="head">Возьми себе питомца</p>
        <p>Они же такие классные, как же ты не возьмешь себе одного? Они же такие классные, как же ты не возьмешь
            себе одного?
            Они же такие классные, как же ты не возьмешь себе одного?
            Они же такие классные, как же ты не возьмешь себе одного?
        </p>
        <button type="button" class="btn btn-success">Взять питомца</button>
    </div>
</div>
{% if categories_list %}
{% for category in categories_list %}
<a href="{{ category.get_absolute_url }}">{{category.title}}</a>
{% endfor %}
{% else %}
Статьи не найдены =(
{% endif %}
<!-- link-block -->
{% get_last_product count=5 %}
<!-- callback-from -->
<section class="callback-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="callback-form-head m-0">Подпишись на рассылку</p>
                <p>Будь в курсе всех новостей данного портала</p>
            </div>
            <div class="col-lg-6 align-self-center justify-content-end">
                <form action="#" method="POST">
                    <label for="email-input"></label>
                    <input type="email" name="EMAIL" placeholder="Enter your email here..." id="email-input">
                    <button type="submit" class="btn btn-primary callback-form-btn">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}