{% extends 'base.html' %}
{% load catalog_tags mailing_tags %}

{% block title %} WOWOWOWO {% endblock %}


{% block content %}
<!-- Banner -->
<div class="banner">
    <div class="banner-content container">
        <p class="head">Возьми себе питомца</p>
        <p>Они же такие классные, как же ты не возьмешь себе одного? Они же такие классные, как же ты не возьмешь
            себе одного?
            Они же такие классные, как же ты не возьмешь себе одного?
            Они же такие классные, как же ты не возьмешь себе одного?
        </p>
        <button type="button" class="btn btn-success">Взять питомца</button>
    </div>
</div>
<!-- catalog list -->
{% include 'include/catalog.html' %}
    <!-- link-block -->
{% get_last_product count=5 %}
<!-- callback-from -->
{% mailing_form %}
{% endblock content %}