{% extends 'base.html' %}

{% block title %}
    Product Create - {{ block.super }}
{% endblock %}

{% block content %}
<form action="{% url 'catalogs:ProductCreate' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div>
        {% if field.errors %}
        <div>
           {{ field.errors }}
        </div>
        {% endif %}
      {{  field.label }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create Product</button>
</form>


{% endblock %}