{% extends 'base.html' %}

{% block title %} {{ product.title }} {% endblock %}


{% block content %}
<div class="container">
    <form action="{% url 'catalogs:add_rating' %}" method="post" name="add-rating">
        <b>Рейтинг:</b>
        {% csrf_token %}
        <input type="hidden" value="{{ product.id }}" name="product">
        <div>
            <b>Ваша оценка:</b>
            {{ user_rating }}
        </div>
        <div class="rating-area">
            {% for k, v in rating_form.fields.rating.choices|dictsortreversed:0 %}
            <input type="radio" name="rating" id="rating{{ v }}" value="{{ k }}"
                   {% if user_rating == k %}
                       checked
                   {% endif %}       
                >
            <label for="rating{{ v }}"></label>
            {% endfor %}
        </div>
    </form>
    <div class="avg-rating">
        <b>Общая оценка:</b>
        {{ avg_rating }}
    </div>


<h1>{{ product.h1 }}</h1>
<p>{{ product.text|safe }}</p>
<em>{{ product.pub_date }}</em>
</div>
{% endblock %}