{% extends 'base.html' %}
{% load catalog_tags %}
{% block title %} {{ product.title }} {% endblock %}

{% block h1 %}
{{ product.name }}
{% endblock h1 %}

{% block breadcrumb %}
{% catalog_breadcrumb product %}
{% endblock breadcrumb %}

{% block content %}
<section class="ad-detail">
    <div class="container">
        <div class="row gallery-item mt-4">
            <div class="col-md-6 text-center">
                {% if product.image %}
                <a href="{{ product.image.url }}" class="img-pop-up">
                    <img src="{{ product.image.url }}" class="detail-img">
                </a>
                {% else %}
                <a href="/media/no_image.png" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(media/no_image.png);"></div>
                </a>
                {% endif %}
                <div class="row">
                    {% for additional_img in product.additional_img.all %}
                    <div class="col-2 my-auto">
                        <a href="{{ additional_img.image.url }}" class="img-pop-up">
                            <img src="{{ additional_img.image.url }}" class="additional-detail-img">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <h1>{{ product.h1 }}</h1>
            <p>{{ product.text|safe }}</p>
            <em>{{ product.pub_date }}</em>
        </div>
</section>

{% endblock %}