{% extends 'base.html' %}
{% load catalog_tags %}

{% block seo_title %}
Доска объявления о животных
{% endblock %}
{% block seo_description %}
Актуальные объявления о животных
{% endblock %}

{% block h1 %}
Доска объявлений
{% endblock h1 %}

{% block breadcrumb %}
<p class="text-white link-nav">
    <a href="/">Главная</a><span class="lnr lnr-arrow-right"></span>
    <span>Доска объявлений</span>
</p>
{% endblock breadcrumb %}

{% block content %}
<!-- catalog list -->
{% include 'include/catalog.html' %}
{% endblock content %}