{% extends 'base.html' %}

{% block title %}
    Product Create - {{ block.super }}
{% endblock %}

{% block content %}
<form action="{% url 'catalogs:ProductCreate' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        {{  field.label }}
        {{ field }}
        {% if field.errors %}
        <div class="alert alert-danger">
           {{ field.errors }}
        </div>
        {% endif %}

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create Product</button>
</form>


{% endblock %}