{% extends 'lk/profile.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Create Product {{ product.title|title }} - {{ block.super }}
{% endblock %}

{% block profile_content %}
<div class="container">
    <h1>Добавить объявление</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% if form.errors %}
        <div class="alert alert-danger">
           <strong>Исправьте ошибки ниже</strong>
        </div>
    {% endif %}
    {% for field in form %}
    <div class="form-group">
        {{ field|as_crispy_field }}

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary float-right my-2">Добавить</button>
</form>
</div>

{% endblock profile_content%}