{% extends 'lk/profile.html' %}

{% block title %}
    Edit Product {{ product.title|title }} - {{ block.super }}
{% endblock %}

{% block profile_content %}
<div class="container">
<form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        {{  field.label }}
        {{ field }}
        {% if field.errors %}
        <div class="alert alert-danger">
           {{ field.errors }}
        </div>
        {% endif %}

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update Product</button>
</form>
</div>

{% endblock profile_content%}