{% extends 'lk/profile.html' %}
{% load crispy_forms_tags %}
{% block title %}
Create Product {{ product.title|title }} - {{ block.super }}
{% endblock %}

{% block profile_content %}
<script>
 function change_field_breed_type_with_category_id() {
    let category = $("#id_category").val();
    resp = fetch(`/api/v1/breedtype?category=${category}`);
    resp = fetch(`/api/v1/breedtype?category=${category}`)
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        $("#id_breed_type").children("option:not(:first)").remove();
        if (data.length == 0) {
        $('#id_breed_type').prop('disabled', true);
        }
        for (let i = 0; i < data.length; i++) {
          $("#id_breed_type").append(
            `<option value="${data[i]["id"]}">${data[i]["name"]}</option>`
          );
        }
        $("#id_breed_type").selectpicker("refresh");
      });
  }

</script>
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <h1>{% block name_form %}Добавить объявление{% endblock name_form %}</h1>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" class="form-area">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Исправьте ошибки ниже</strong>
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.category|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.text|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.sex|as_crispy_field }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.breed|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{ form.breed_type|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.age|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 m-auto">
                <div class="switch-wrap d-flex mb-0">
                    <div class="primary-checkbox m-2">
                        {% if product.age_type %}
                        <input type="checkbox" name="age_type" id="id_age_type" checked>
                        <label for="id_age_type"></label>
                        {% else %}
                        <input type="checkbox" name="age_type" id="id_age_type">
                        <label for="id_age_type"></label>
                        {% endif %}
                    </div>
                    <p style="padding: 6px 0">Указать возраст в месяцах</p>
                </div>

            </div>
        </div>
        <div class="form-group">
            {{ form.birthday|as_crispy_field }}
        </div>
        <div class="form-group">
            <div id="div_id_price" class="form-group">
                <label for="id_price" class="">Цена</label>
                <div class="">
                    <input type="number" name="price" value="0" min="0" class="numberinput form-control"
                           aria-describedby="priceHelp" id="id_price">
                </div>
                <small id="priceHelp" class="form-text text-muted">Оставьте 0, если хотите отдать бесплатно</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_image" class="">Главная фотография</label>
                <input type="file" name="image" accept="image/*" class="clearablefileinput form-control-file"
                       id="id_image">
                <button type="button" id="reset-img-field" class="genric-btn default small mt-2">Очистить</button>
            </div>
            {% include 'lk/include/input_form_preview_with_delete_checkbox.html' %}
        </div>
        <button type="submit" class="genric-btn success float-right my-2">{% block button_text_form %}Добавить
            {% endblock button_text_form %}
        </button>
    </form>
</div>


{% endblock profile_content %}

    