{% extends 'lk/profile.html' %}

{% block profile_content %}
<div class="row my-2">
    <div class="col-md-8">
        <h1>Мои объявления</h1>
    </div>
    <div class="col-md-4 m-auto text-right">
        <a href="{% url 'lk:product_create' %}" class="genric-btn primary center">Добавить объявление</a>
    </div>
</div>
<section class="animal-list-area mt-4">
    {% for product in product_list %}
    <div class="single-animal-list m-0">
        <div class="row button-panel">
            <div class="col-md-12 d-flex justify-content-end mt-2">
                <a href="{{ product.get_absolute_url }}" class="genric-btn info radius mx-1" data-toggle="tooltip"
                   data-placement="top" title="Показать на сайте" data-trigger="hover" target="_blank" rel="noopener noreferrer"><i
                        class="lnr lnr-link format-lnr"></i></a>
                <a href="{{ product.get_update_url }}" class="genric-btn primary radius mx-1" data-toggle="tooltip"
                   data-placement="top" title="Редактировать" data-trigger="hover"><i
                        class="lnr lnr-pencil format-lnr"></i></a>
                <span data-target="#deleteModal" data-toggle="modal"><button type="button" class="genric-btn danger radius ml-1 mr-2" data-toggle="tooltip"
                   data-placement="top" title="Удалить" OnClick="getId('{{ product.get_delete_url }}')" data-trigger="hover"><i
                        class="lnr lnr-trash format-lnr"></i></button></span>
            </div>
        </div>
        <div class="row">
            <div class="animal-image col-md-4">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="">
                {% else %}
                <img class="img-fluid" src="/media/no_image.png" alt="">
                {% endif %}
            </div>
            <div class="card-body col-md-6">
                <p class="card-title">{{ product.name|truncatechars:50|striptags|safe }}</p>
                <div class="card-date">
                    <p><b>Добавлено: </b> {{ product.pub_date|date }}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">{{ product.text|truncatechars:100|striptags|safe }}</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p><b>Пол: </b>{{ product.sex }}</p>
                            <p><b>Возраст: </b>{{ product.age }}</p>
                            <p><b>Возраст: </b>{{ product.age }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b>Порода: </b>{{ product.breed }}</p>
                            <p><b>Вид породы: </b>{{ product.breed_type }}</p>
                            <p><b>Адрес: </b>Адрес</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-auto">
                <div class="card-price">
                    <p><b>Цена: </b>{{ product.price }} Р</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<div class="profile-pagination mb-4">
    {% include 'include/pagination.html' %}
</div>

{# deleteModal #}
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <button type="button" class="close modal-button-close" data-dismiss="modal">&times;</button>
            <div class="modal-header">
                <h4 class="modal-title" style="font-size: 1.5rem;">Подтверждение</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="margin-bottom:20px;">
                {% include 'account/ajax_delete.html' %}
            </div>
        </div>
    </div>
</div>

<script language="javascript">
            function getId(url) {
                link = url;
                delete_form.setAttribute('action', link);
            };
</script>
{% endblock profile_content %}

