{% extends 'lk/profile.html' %}

{% block profile_content %}
<div class="row my-2">
    <div class="col-md-8">
        <h1>Мои объявления</h1>
    </div>
    <div class="col-md-4 m-auto text-right">
        <a href="{% url 'lk:product_create' %}" class="genric-btn primary center">Добавить объявление</a>
    </div>
</div>
<section class="animal-list-area mt-4">
    {% for product in product_list %}
    <div class="single-animal-list m-0">
        <div class="row button-panel">
            <div class="col-md-12 d-flex justify-content-end">
                <a href="{{ product.get_absolute_url }}" class="genric-btn info radius m-1" data-toggle="tooltip"
                   data-placement="top" title="Показать на сайте"><i
                        class="lnr lnr-link format-lnr"></i></a>
                <a href="{{ product.get_update_url }}" class="genric-btn primary radius m-1" data-toggle="tooltip"
                   data-placement="top" title="Редактировать"><i
                        class="lnr lnr-pencil format-lnr"></i></a>
                <a href="{{ product.get_delete_url }}" class="genric-btn danger radius m-1" data-toggle="tooltip"
                   data-placement="top" title="Удалить"><i
                        class="lnr lnr-trash format-lnr"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="animal-image col-md-4">
                {% if product.image %}
                <img class="img-fluid" src="{{ product.image.url }}" alt="">
                {% else %}
                <img class="img-fluid" src="/media/no_image.png" alt="">
                {% endif %}
            </div>
            <div class="card-body col-md-6">
                <p class="card-title">{{ product.name|truncatechars:50|striptags|safe }}</p>
                <div class="card-date">
                    <p><b>Добавлено: </b> {{ product.pub_date|date }}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">{{ product.text|truncatechars:100|striptags|safe }}</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p><b>Пол: </b>{{ product.sex }}</p>
                            <p><b>Возраст: </b>{{ product.age }}</p>
                            <p><b>Возраст: </b>{{ product.age }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b>Порода: </b>{{ product.breed }}</p>
                            <p><b>Вид породы: </b>{{ product.breed_type }}</p>
                            <p><b>Адрес: </b>Адрес</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-auto">
                <div class="card-price">
                    <p><b>Цена: </b>{{ product.price }} Р</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<div class="profile-pagination mb-4">
    {% include 'include/pagination.html' %}
</div>
{% endblock profile_content%}