{% extends 'lk/profile.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Edit Product {{ product.title|title }} - {{ block.super }}
{% endblock %}

{% block profile_content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
    <div class="form-group">
        {{ field|as_crispy_field }}
        {% if field.errors %}
        <div class="alert alert-danger">
           {{ field.errors }}
        </div>
        {% endif %}

    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary float-right my-2">Сохранить</button>
</form>
</div>

{% endblock profile_content%}