{% extends 'lk/profile.html' %}
{% load crispy_forms_tags %}


{% block profile_content %}
<div class="row my-2">
    <div class="col-md-12">
        <h1>Редактирование профиля</h1>
    </div>
</div>
{% if not profile.phone_number_ads %}
<blockquote class="generic-blockquote">
    Личный кабинет заблокирован. Заполните профиль и укажите номер телефона для объявлений.
</blockquote>
{% endif %}
<form method="post" enctype="multipart/form-data" class="form-area my-4">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Исправьте ошибки ниже</strong>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    {{ form.email|as_crispy_field }}
    {{ form.phone_number|as_crispy_field }}
    {{ form.phone_number_ads|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_image" class="">Фотография профиля</label>
            <input type="file" name="image" accept="image/*" class="clearablefileinput form-control-file"
                   id="id_image">
            <button type="button" id="reset-img-field" class="genric-btn default small mt-2">Очистить</button>
        </div>
        {% include 'lk/include/input_form_preview_with_delete_checkbox.html' %}
    </div>

    <button type="submit" class="genric-btn success float-right my-2">Сохранить</button>
</form>


{% endblock profile_content %}
