{% extends 'lk/profile.html' %}
{% load crispy_forms_tags %}



{% block profile_content %}
<h1>Мой профиль</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if form.errors %}
        {% for field in form  %}
            {% for error in field.errors  %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.last_name|as_crispy_field  }}
        </div>
    </div>
        {{ form.email|as_crispy_field  }}
        {{ form.phone_number|as_crispy_field  }}
        {{ form.image|as_crispy_field  }}

    <button type="submit" class="btn btn-primary float-right my-2">Сохранить</button>
</form>
{% endblock profile_content %}