{% extends 'base.html' %}

{% block h1 %}
Личный кабинет
{% endblock h1 %}


{% block content %}
<div class="profile-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 profile-nav-column-1">
                <ul class="nav flex-column">
                    <li class="nav-item mt-4 mb-2">
                        <a class="genric-btn default w-100" href="{% url 'lk:profile' %}">Мой профиль</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="genric-btn default w-100" href="{% url 'lk:product_list' %}">Мои объявления</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="genric-btn default w-100" href="#">Link</a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="genric-btn disable w-100" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 profile-nav-column-2">

                {% block profile_content %}
                <div class="row my-2">
                    <div class="col-md-8">
                        <h1>Мой профиль</h1>
                    </div>
                    <div class="col-md-4 m-auto text-right">
                        <a href="{% url 'lk:edit_profile' %}" class="genric-btn primary">Редактировать</a>
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col-sm-4 card-item-image">
                        {% if profile.image %}
                        <img src="{{ profile.image.url }}" class="w-100 border ">
                        {% else %}
                        <img src="/media/no_image.png" class="w-100 border">
                        {% endif %}
                    </div>
                    <div class="col-sm-8 card-item-list m-auto">
                        <p>Имя: {{ profile.name }}</p>
                        <p>Фамилия: {{ profile.last_name }}</p>
                        <p>E-mail: {{ profile.email }}</p>
                        <p>Телефон: {{ profile.phone_number }}</p>
                    </div>
                </div>


                {% endblock profile_content %}

            </div>
        </div>
    </div>

</div>
{% endblock content %}