{% if post_list %}
{% for post in post_list %}
<div class="single-post row">
    <div class="col-lg-3  col-md-3 meta-details">
        {% if post.tags.all %}
        <ul class="tags">
            {% for tag in post.tags.all|slice:':4' %}
            {% if forloop.last %}
            <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
            {% else %}
            <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }},</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% elif post.category %}
        <ul class="tags">
            <li><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
        </ul>
        {% else %}
        <ul class="tags">
            <li><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
        </ul>
        {% endif %}

        {% include 'blog/include/blog_user_details.html' %}
    </div>
    <div class="col-lg-9 col-md-9 ">
        <div class="feature-img">
            {% if post.image %}
            <img class="img-fluid blog-img-catalog" src="{{ post.image.url }}" alt="">
            {% else %}
            <img class="img-fluid blog-img-catalog" src="/media/no_image.png" alt="">
            {% endif %}
        </div>
        <a class="posts-title" href="blog-single.html"><h3>{{ post.name }}</h3>
        </a>
        <p class="excert" style="white-space: normal">
            {{ post.text|truncatechars:200|striptags|safe }}
        </p>
        <a href="{{ post.get_absolute_url }}" class="primary-btn">Читать</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="text-center">В данной категории еще нет публикаций</div>
{% endif %}
{% include 'include/pagination.html' %}