{% load blog_tags mailing_tags  %}
{% load static %}

<div class="col-lg-4 sidebar-widgets">
    <div class="widget-wrap">
<!--        <div class="single-sidebar-widget search-widget">-->
<!--            <form class="search-form" action="#">-->
<!--                <input placeholder="Search Posts" name="search" type="text"-->
<!--                       onfocus="this.placeholder = ''"-->
<!--                       onblur="this.placeholder = 'Search Posts'">-->
<!--                <button type="submit"><i class="fa fa-search"></i></button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="single-sidebar-widget user-info-widget">-->
<!--            <img src="{% static 'catalogs/img/Screenshot_4.jpg' %}" alt="">-->
<!--            <a href="#"><h4>Руслан Мустафаев</h4></a>-->
<!--            <p>-->
<!--                Senior Гомосексуалист-->
<!--            </p>-->
<!--            <ul class="social-links">-->
<!--                <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                <li><a href="#"><i class="fa fa-github"></i></a></li>-->
<!--                <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
<!--            </ul>-->
<!--            <p>-->
<!--                Лучший мальчик данного портала, пропогандирующий равные права среди гомосексуалистов.-->
<!--                Уважение и почет!-->
<!--            </p>-->
<!--        </div>-->
        {% popular_post_widget count=5 %}
        <div class="single-sidebar-widget ads-widget">
            <a href="#"><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""></a>
        </div>
        {% categories_menu_widget %}
        {% mailing_form %}
        {% tag_cloud_widget %}
    </div>
</div>