{% if form.instance.image %}
<div class="col-md-6">
    <img id="preview" src="{{ form.instance.image.url }}" alt="your image"/>
    <div class="form-group m-auto">
        <div class="switch-wrap d-flex mb-0 justify-content-center">
            <div class="primary-checkbox m-2">
                <input type="checkbox" name="image-clear" id="image-clear_id">
                <label for="image-clear_id"></label>
            </div>
            <p style="padding: 6px 0">Удалить фотографию</p>
        </div>
    </div>
</div>

{% else %}
<div class="col-md-6">
    <img id="preview" src="/media/no_image.png" alt="your image"/>
</div>
{% endif %}