{% load crispy_forms_tags %}
<div class="container filter-area">
    <div class="row">
        <div class="col-lg-9">
            <form action="{{ get_url }}" method="get">
                <div class="row">
                    <div class="col-lg-4">
                        {{ form.sex|as_crispy_field }}
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.price_start|as_crispy_field }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.price_end|as_crispy_field }}
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-6">
                        {{ form.breed|as_crispy_field }}
                    </div>
                    <div class="col-lg-6">
                        {{ form.breed_type|as_crispy_field }}
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-6">


                        <div id="div_id_image" class="switch-wrap d-flex justify-content-start">
                                <p class="mr-2 py-auto">С фото</p>
                                <div class="primary-switch my-auto">
                                    <input type="checkbox" name="image" id="id_image">
                                    <label for="id_image"></label>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="genric-btn primary float-right" type="submit">Показать</button>
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>