{% load catalog_tags %}
<header class="main-menu bg-primary">
    <!--    Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/catalogs/img/logo2.jpg" class="logo" width="250"
                                                  height="50" alt="" loading="lazy"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                <form action="{% url 'catalogs:search' %}" class="form-inline my-2 my-lg-0 search-form" method="get">
                    <input class="form-control mr-sm-2 search-menu-input" type="search" placeholder="Search"
                           aria-label="Search" name="title">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'lk:profile' %}">Мой профиль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'lk:product_list' %}">Мои объявления</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
                      </div>
                    </li>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
                    </li>
                        <a href="{% url 'account_login' %}" class="btn btn-light">Войти</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <hr class="m-0">
    <div class="container">
        <nav class="nav nav-pills justify-content-center">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">Категории</a>
            <div class="dropdown-menu">
                {% get_categories as categories %}
                {% for category in categories %}
                <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <a class="nav-link" href="#">Блог</a>
            <a class="nav-link" href="/about/">О нас</a>
        </nav>
    </div>
</header>