<div class="animal-image col-md-4">
    {% if product.additional_img.count != 0 %}
    {% with product.additional_img.all|first as firs_obj %}
    <img class="img-fluid" src="{{ firs_obj.image.url }}" alt="">
    {% endwith %}
    {% else %}
    <img class="img-fluid" src="/media/no_image.png" alt="">
    {% endif %}
</div>
<div class="card-body col-md-6">
    <p class="card-title">{{ product.name|truncatechars:50|safe }}</p>
    <div class="card-date">
        <p><b>Добавлено: </b> {{ product.pub_date|date }}</p>
    </div>
    <div class="card-info">
        <p class="card-text">{{ product.text|truncatechars:100|striptags|safe }}</p>
        <div class="row">
            <div class="col-sm-6">
                {% if product.sex %}
                <p><b>Пол: </b>{{ product.sex }}</p>
                {% endif %}
                {% if product.age %}
                {% if product.age_type %}
                    <p><b>Возраст: </b>{{ product.age }} месяцев</p>
                {% else %}
                    <p><b>Возраст: </b>{{ product.age }} лет</p>
                {% endif %}
                {% endif %}
                <p><b>Возраст: </b>{{ product.age }}</p>
            </div>
            <div class="col-sm-6">
                {% if product.breed %}
                <p><b>Порода: </b>{{ product.breed }}</p>
                {% endif %}
                {% if product.breed %}
                <p><b>Вид породы: </b>{{ product.breed_type }}</p>
                {% endif %}
                <p><b>Адрес: </b>Адрес</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 m-auto">
    <div class="card-price">
        <p><b>{{ product.price }} Р</b></p>
    </div>
</div>


