{% load static %}
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}WOW, your nice!{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/catalogs/css/catalog_style.css' %}">
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Hello, world!</title>
</head>

<body>
    <header class="main-menu bg-primary">
        <!--    Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/static/catalogs/img/logo.jpg" class="logo" width="250"
                        height="50" alt="" loading="lazy"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                    <form class="form-inline my-2 my-lg-0 search-form">
                        <input class="form-control mr-sm-2 search-menu-input" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Регистрация</a>
                        </li>
                        <button type="button" class="btn btn-light">Войти</button>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="m-0">
        <div class="container">
            <nav class="nav nav-pills justify-content-center">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Категории</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Собаки</a>
                    <a class="dropdown-item" href="#">Кошки</a>
                    <a class="dropdown-item" href="#">Змеи</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Хомяки</a>
                </div>
                <a class="nav-link" href="#">Блог</a>
                <a class="nav-link" href="#">О нас</a>
            </nav>
        </div>
    </header>
    <!-- Banner -->
    <div class="banner">
        <div class="banner-content container">
            <p class="head">Возьми себе питомца</p>
            <p>Они же такие классные, как же ты не возьмешь себе одного? Они же такие классные, как же ты не возьмешь
                себе одного?
                Они же такие классные, как же ты не возьмешь себе одного?
                Они же такие классные, как же ты не возьмешь себе одного?
            </p>
            <button type="button" class="btn btn-success">Взять питомца</button>
        </div>
    </div>
    <!-- catalog list -->
    
    {% block catalog %}  
    {% verbatim %} 
    <div class="catalog-list py-4" id="catalog">
        <div class="container">
            <div class="head">
                <p>Каталог питомцев</p>
            </div>
            <div class="catalog">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="search">Фильтр по поиску</label>
                            <input type="text" class="form-control" id="search" placeholder="Name">
                            <hr>
                        </div>
                        <ul class="list-group">
                            <li v-for="animal in animals" class="list-group-item list-group-item-action pointer">
                                {{ animal.name }}
                            </li>
                            <li class="list-group-item list-group-item-action pointer">Возраст</li>
                            <li class="list-group-item list-group-item-action pointer">Порода</li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <li>Пол: Мужской</li>
                                        <li>Возраст: 12</li>
                                        <li>Порода: Квока</li>
                                        <p>+7 (962) 944-45-65</p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/static/catalogs/img/logo.jpg" alt="" width="100%">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Специальный заголовок</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
    {% endblock catalog %}
    <!-- link-block -->
    <div class="link-block py-4">
        <div class="container">
            <div class="head">
                <p>Перелинковка питомцев</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/static/catalogs/img/logo.jpg" class="card-img-top" alt="..." width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Название карточки</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/static/catalogs/img/logo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Название карточки</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/static/catalogs/img/logo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Название карточки</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- callback-from -->
    <section class="callback-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="callback-form-head m-0">Подпишись на рассылку</p>
                    <p>Будь в курсе всеъ носотей данного портала</p>
                </div>
                <div class="col-lg-6 align-self-center justify-content-end">
                    <form action="#" method="POST">
                        <label for="email-input"></label>
                        <input type="email" name="EMAIL" placeholder="Enter your email here..." id="email-input">
                        <button type="submit" class="btn btn-primary callback-form-btn">Подписаться</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <img src="..." class="img-fluid" alt="Responsive image">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4 footer-info">
                    <img src="/static/catalogs/img/logo.jpg" class="logo" alt="" width="250" height="50">
                    <div class="adress-copyright mt-2">
                        Объявления о животных. Возьми себе животное, будь человеком.
                    </div>
                    <div class="footer-phone-number">
                        +7 (999) 999-99-99
                    </div>
                </div>
                <div class="col-md-8 footer-nav">
                    <div class="row">
                        <nav class="footer-menu col-md-4">
                            <div class="footer-menu-title">Информация</div>
                            <div class="footer-menu-item">
                                <a href="#" class="nav-link active">О нас</a>
                                <a href="#" class="nav-link active">Главная</a>
                                <a href="#" class="nav-link active">Блог</a>
                                <a href="#" class="nav-link active">Регистрация</a>
                            </div>
                        </nav>
                        <nav class="footer-menu col-md-4">
                            <div class="footer-menu-title">Другие ссылки</div>
                            <div class="footer-menu-item">
                                <a href="#" class="nav-link active">Кошки</a>
                                <a href="#" class="nav-link active">Собаки</a>
                                <a href="#" class="nav-link active">Змеи</a>
                                <a href="#" class="nav-link active">Хомяки</a>
                            </div>
                        </nav>
                        <div class="footer-menu col-md-4">
                            <div class="footer-menu-title">Мы в соцсетях:</div>
                            <div class="footer-menu-item">
                                <a href="" class="nav-link active" target="_blank">ВК</a>
                                <a href="" class="nav-link active" target="_blank">Инста</a>
                                <a href="" class="nav-link active" target="_blank">Фейсбук</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- static js -->
    <script src="{% static 'catalogs/js/filter.js' %}"></script>

</body>

</html>