{% extends 'base.html' %}
{% load static %}
{% block h1 %}
Поиск
{% endblock %}
{% block breadcrumb %}
<p class="text-white link-nav">
    <a href="/">Главная</a><span class="lnr lnr-arrow-right"></span>
    <span>Поиск</span>
</p>
{% endblock breadcrumb %}

{% block content %}
<section class="animal-list-area section-gap">
    <div class="container search-area">
        {% include 'search/include/form_search.html' %}
    </div>
    {% include 'include/catalog_area.html' %}

</section>
{% endblock content%}

{% block script %}

<script type="text/javascript">
  $(function () {
    window.autocomplete = new Autocomplete({
      form_selector: '.autocomplete-form',
      url: '{% url 'search:autocomplete' %}'
    });
    window.autocomplete.setup()
  });



</script>
{% endblock script %}


