{% extends 'base.html' %}
{% load static %}
{% block h1 %}
Поиск
{% endblock %}
{% block breadcrumb %}
<p class="text-white link-nav">
    <a href="/">Главная</a><span class="lnr lnr-arrow-right"></span>
    <span>Поиск</span>
</p>
{% endblock breadcrumb %}

{% block content %}
<section class="animal-list-area section-gap">
    <div class="container search-area">
        {% include 'search/include/wrap_search_form.html' %}
    </div>
    {% include 'include/catalog_area.html' %}

</section>
{% endblock content%}



