<div class="single-sidebar-widget popular-post-widget">
    <h4 class="popular-title">Популярное</h4>
    {% if popular_post_list %}
    <div class="popular-post-list">
        {% for post in popular_post_list %}
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb col-md-5 text-center">
                {% if post.image %}
                <img class="img-fluid popular-post-img" src="{{ post.image.url }}" alt="">
                {% else %}
                <img class="img-fluid popular-post-img" src="/media/no_image.png" alt="">
                {% endif %}
            </div>
            <div class="details col-md-7">
                <a href="{{ post.get_absolute_url }}"><h6 class="popular-post-widget-post-name">{{ post.name }}</h6></a>
                <p>{{ post.pub_date }}</p>
            </div>
<!--            <div class="overlay">-->
<!--            </div>-->
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">На данный момент нет постов</p>
    {% endif %}
</div>