{% load mptt_tags %}

<p class="text-white link-nav">
    <a href="/">Главная</a><span class="lnr lnr-arrow-right"></span>
    {% if objects.category %}
    {% for parent in objects.category.get_ancestors %}
    <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a><span class="lnr lnr-arrow-right"></span>
    {% endfor %}
    <a href="{{ objects.category.get_absolute_url }}">{{ objects.category.name }}</a><span class="lnr lnr-arrow-right"></span>
    <span>{{ objects.name }}</span>
    {% else %}
    {% for parent in objects.get_ancestors %}
    <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a><span class="lnr lnr-arrow-right"></span>
    {% endfor %}
    <span>{{ objects.name }}</span>
    {% endif %}
</p>




