<div class="link-block py-4">
    <div class="container">
        <div class="head">
            <p>Перелинковка питомцев</p>
        </div>
        <div class="row">
            {% for last_product in get_last_product %}
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/catalogs/img/logo.jpg" class="card-img-top" alt="..." width="100%">
                    <div class="card-body">
                        <h5 class="card-title">{{ last_product.name }}</h5>
                        <p class="card-text">{{ last_product.text|safe }}</p>
                        <a href="{{ last_product.get_absolute_url }}" class="btn btn-primary">Переход куда-нибудь</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/catalogs/img/logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/catalogs/img/logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>